*{margin:0%; padding:0px; box-sizing:border-box;background:#efffbf;font-family:Comic Sans MC, sans-serif;}
body {	display: block;}


#flex-container {background: #efffbf; display: flex; flex-direction: column; flex-wrap: nowrap; align-content: center; align-items: center; }
#flex-container > div {background: #efffbf; border: 0px solid red; width: 1000px; margin: 10px; padding: 10px; }

#grid-container { background: #efffbf;display: grid;height: ;width: 324px;grid-template-columns: 140px 160px;grid-template-rows: ;align-content: center;justify-content: center;font-size:0.8em;margin-left: 650px;  }
#grid-container > div {background: #efffbf; margin: 2px; padding-left: 10px; }

#grid-container-main {background: #efffbf; display: grid; height: 150px; grid-template-columns: 50% 50%; grid-template-rows: 50px 50px; grid-column-gap:; grid-row-gap: ; align-items: center; justify-items: center; align-content: center; justify-content: center;  }
#grid-container-main > div {background: #efffbf; border: 0px solid; margin-right:10%; padding: 0px; }

#one {background: #efffbf; display: grid; height: 150px; grid-template-columns: 65% 64%; grid-template-rows: 50px 50px; grid-column-gap: ; grid-row-gap: ; align-items: center; justify-items: center; align-content: center; justify-content: center; }
#one > div {background: #efffbf; border: 0px solid; margin:0px; padding: 0px; }

h3{text-indent:0px;}
p{text-indent:0px;margin-left:0px;}

#np-logo{ height:70px; align-content:center;border:0px solid silver;}

#body_img {
  height:161px;
  float:left;}

#flex-container_a {display: flex; height: 88px; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center; }
#flex-container_a > div {border: 0px solid; margin: 15px; padding: 0px; }
